@model WEB2.Persona
@{
    //ViewData["Title"] = "Index";
    //var fecha = DateTime.Now;

    /*
     * @ViewData["FechaHoy"]
@ViewBag.    <----
        /*
        <h2>HOLA @ViewData["Title"]</h2>
        <h3>hola @ViewData["Nombre"]!!!!</h3>
        <h1>Datos personales: @Model.Nombre</h1>
        */

}

El precio es: @ViewBag.PrecioVehiculo;

